html
  head
    title= pageTitle
    link(rel="stylesheet", href="css/style.css")
  body
  
    include ../partials/header.pug 
    block main 
        h1 Default content 
    include ../partials/footer.pug
