extends ../../layouts/default.pug 
include ../../mixins/alert.pug
//- include ../../mixins/fakeTitle.pug 

block headerLink 
    link(rel="stylesheet", href="/admin/css/style.css")

block main 
    h1 Tổng quan Admin
    +alert-success(4000)
    +alert-error(4000)
block footerLink 
    script(src="/admin/js/script-dashboard.js") 
